/* Tanjiro & Zenitsu Mascot - Top Left Corner of Dashboard */
.tz-mascot {
    position: absolute;
    top: -149px;
    /* Sits exactly on the edge */
    left: -0px;
    /* Aligned to left corner */
    z-index: 10001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tz-image {
    width: 205px;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

/* Speech Bubble */
.tz-bubble {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    background: #fff;
    border: 1px solid #333;
    padding: 10px 14px;
    font-family: var(--font-pixel);
    font-size: 0.7rem;
    color: #333;
    max-width: 180px;
    text-align: center;
    box-shadow: none;
}

.tz-bubble::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 30px;
    border: 5px solid transparent;
    border-bottom-color: #333;
}

.tz-bubble::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 31px;
    border: 4px solid transparent;
    border-bottom-color: #fff;
}